/* line 5, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .owl-item img.owl-lazy {
  position: absolute;
}

/* line 10, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 100%;
}

/* line 16, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  font-size: 100px;
  color: #2A095F;
}

/* line 22, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .owl-nav button.owl-prev {
  float: left;
  margin-left: 10px;
}

/* line 26, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .owl-nav button.owl-next {
  float: right;
  margin-right: 10px;
}

/* line 33, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-carousel .carousel-container {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* line 39, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-theme .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left: -36px;
}

/* line 45, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
}

/* line 49, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-theme .owl-dots .owl-dot.active span {
  background: #000000;
}

/* line 57, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-theme .owl-nav [class*=owl-]:hover {
  background: none;
  color: #2A095F;
  opacity: 1;
  outline: none;
}

/* line 63, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
.owl-theme .owl-nav [class*=owl-]:focus {
  outline: none;
}

@media (max-width: 576px) {
  /* line 71, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
  .owl-carousel {
    height: 300px;
    overflow: hidden;
  }
  /* line 75, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
  .owl-item {
    height: 300px;
  }
}

@media (max-width: 768px) {
  /* line 81, /Users/fpardo/Documents/proyectos internos/escolta/sass/_slider.scss */
  .owl-lazy {
    height: 100%;
  }
}

/* line 1, /Users/fpardo/Documents/proyectos internos/escolta/sass/_botones.scss */
.btn-morado {
  background: #2A095F;
  border: none;
  border-radius: 0 !important;
  font-size: 1rem;
}

/* line 6, /Users/fpardo/Documents/proyectos internos/escolta/sass/_botones.scss */
.btn-morado:hover {
  background: #4910a5;
}

/* line 10, /Users/fpardo/Documents/proyectos internos/escolta/sass/_botones.scss */
.btn {
  border-radius: 0 !important;
}

/* line 14, /Users/fpardo/Documents/proyectos internos/escolta/sass/_botones.scss */
.btn-white {
  background: #ffffff;
  border-radius: 0 !important;
  font-size: 1rem;
  color: #2A095F;
  border-color: #2A095F;
}

/* line 22, /Users/fpardo/Documents/proyectos internos/escolta/sass/_botones.scss */
.btn-lenguaje {
  background: #3EFDD9;
  color: #333334;
  border-radius: 4px !important;
}

/* line 1, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
.text-color-verde-marca {
  color: #3EFDD9;
}

/* line 4, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
.text-color-negro {
  color: #000000;
}

/* line 7, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
.text-underline {
  text-decoration: underline;
}

/* line 11, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
p,
a,
small,
h1,
h2,
h3,
h4,
h5,
h6,
select,
input,
button,
label {
  font-family: 'robotoCRegular';
}

/* line 27, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
strong {
  font-family: 'RobotoCBold';
}

/* line 31, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
.font-weight-bold {
  font-family: 'RobotoCBold';
}

/* line 35, /Users/fpardo/Documents/proyectos internos/escolta/sass/_fonts.scss */
.font-italic {
  font-family: 'robotoCItalic';
}

@font-face {
  font-family: "robotoCRegular";
  src: url("../fonts/RobotoCondensed-Regular.eot");
  src: url("../fonts/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoCLight";
  src: url("../fonts/RobotoCondensed-Light.eot");
  src: url("../fonts/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoCItalic";
  src: url("../fonts/RobotoCondensed-Italic.eot");
  src: url("../fonts/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCLightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.eot");
  src: url("../fonts/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-LightItalic.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCBold";
  src: url("../fonts/RobotoCondensed-Bold.eot");
  src: url("../fonts/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoBoldCItalic";
  src: url("../fonts/RobotoCondensed-BoldItalic.eot");
  src: url("../fonts/RobotoCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header {
  height: 80px;
  background-color: #333334;
}

/* line 6, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

/* line 12, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer img {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  margin-right: 10px;
}

/* line 18, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .nombre-gamer {
  color: #ffffff;
}

/* line 20, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .nombre-gamer:hover {
  text-decoration: none;
}

/* line 22, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .nombre-gamer:hover p {
  color: #3EFDD9;
  transition: all 0.3s ease;
}

/* line 28, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .notificaciones {
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
}

/* line 32, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .notificaciones i {
  font-size: 30px;
  color: #3EFDD9;
}

/* line 37, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .perfil-gamer .notificaciones.notificaciones--activas:before {
  content: '';
  width: 14px;
  height: 14px;
  background: #D0021B;
  border: solid 1px #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -1px;
  right: -3px;
}

/* line 54, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-toggler {
  border: none;
}

/* line 60, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show {
  z-index: 9;
  margin-top: 9px;
  margin-right: 12px;
}

/* line 64, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show .navbar-nav {
  padding: 15px;
  width: 250px;
  float: right;
  background: #ffffff;
}

/* line 69, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show .navbar-nav .notificaciones {
  margin-left: 20px;
  margin-right: 10px;
  position: relative;
  float: right;
}

/* line 74, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show .navbar-nav .notificaciones i {
  font-size: 25px;
  color: #333334;
}

/* line 79, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show .navbar-nav .notificaciones.notificaciones--activas:before {
  content: '2';
  width: 14px;
  height: 14px;
  background: #D0021B;
  border: solid 1px #ffffff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -1px;
  right: -3px;
  font-size: 9px;
  color: #ffffff;
  text-align: center;
}

/* line 97, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
header .navbar-collapse.collapse.show .nav-link {
  color: #333334;
}

/* line 105, /Users/fpardo/Documents/proyectos internos/escolta/sass/_header.scss */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* line 2, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer.footer--suscribete {
  background: url(../img/suscribete-fondo.png);
  background-size: cover;
  height: 240px;
}

/* line 6, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer.footer--suscribete input {
  border: solid 1px #2A095F;
  border-right: 0;
  width: 250px;
}

/* line 10, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer.footer--suscribete input::placeholder {
  color: #868686;
  font-size: 14px;
  font-family: 'robotoCItalic';
}

/* line 16, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer.footer--suscribete .btn-white {
  font-size: 16px;
}

/* line 20, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer.footer--suscribete .form-control.is-invalid {
  border-color: #dc3545;
}

/* line 27, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer .footer--suscribete--contenido {
  height: 170px;
}

/* line 30, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer .bajada-footer {
  background: rgba(62, 253, 217, 0.6);
}

/* line 33, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer .bajada-footer a:hover {
  text-decoration: none;
}

/* line 37, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
.footer .bajada-footer .footer-data {
  height: 70px;
}

@media (max-width: 576px) {
  /* line 46, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete {
    height: auto;
    background-position: bottom;
  }
  /* line 49, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete .footer--suscribete--contenido {
    height: auto;
    padding-bottom: 20px;
  }
  /* line 52, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete .footer--suscribete--contenido input {
    max-width: 165px;
  }
  /* line 55, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete .footer--suscribete--contenido .form-inline {
    justify-content: center;
  }
  /* line 57, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete .footer--suscribete--contenido .form-inline .form-group {
    margin: 0;
  }
  /* line 64, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer .bajada-footer .footer-data {
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  /* line 68, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer .bajada-footer .footer-data .footer-legales {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  /* line 80, /Users/fpardo/Documents/proyectos internos/escolta/sass/_footer.scss */
  .footer.footer--suscribete .footer--suscribete--contenido input {
    width: 100%;
  }
}

/* line 9, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
body {
  background: #333334;
}

/* line 13, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.form-control,
select {
  border-radius: 0 !important;
  border: none;
}

/* line 18, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.border {
  border-width: 0 0 1px 0 !important;
}

/* line 20, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.border.border-white {
  border-bottom: solid 1px #D8D8D8 !important;
}

/* line 26, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card {
  border-radius: 0;
  border: none;
  background: #232324;
  overflow: hidden;
  flex: 1 0 calc(33.333% - 30px);
  max-width: calc(33.333% - 30px);
  margin-bottom: 15px;
}

/* line 35, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card:hover .card-hover {
  background: rgba(62, 253, 217, 0.9);
  transform: scale(1);
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

/* line 41, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body {
  padding-top: 0;
  margin-top: -20px;
}

/* line 44, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body .card-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'RobotoCBold';
}

/* line 50, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body .info-card {
  margin-bottom: 10px;
}

/* line 52, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body .info-card:last-child {
  margin-bottom: 0;
}

/* line 55, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body .info-card .card-text {
  color: #ffffff;
}

/* line 58, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-body .info-card .fas {
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
  width: 25px;
}

/* line 66, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .shadow-container {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}

/* line 68, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .shadow-container .img-holder {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 75%, 50% 86%, 42% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 75%, 50% 86%, 42% 75%, 0% 75%);
  height: 220px;
  overflow: hidden;
}

/* line 74, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .shadow-container .card-img-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 79, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-footer {
  color: #ffffff;
  background: #181819;
}

/* line 83, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transform: scale(0);
  transition: all 450ms ease 0ms;
  z-index: 0;
}

/* line 91, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.card-deck .card .card-hover a {
  text-decoration: none;
}

/* line 100, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .cabecera-seccion {
  width: 100%;
  height: auto;
  position: absolute;
}

/* line 105, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .escolta-container {
  padding-top: 90px;
}

/* line 108, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .header-seccion {
  background: rgba(0, 0, 0, 0.4);
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px;
  font-family: 'RobotoCBold';
}

/* line 119, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .perfil-escolta > div,
.escolta-seccion .sobre-mi > div,
.escolta-seccion .resenas-usuarios > div,
.escolta-seccion .contratar-escolta > div {
  background: rgba(0, 0, 0, 0.3);
}

/* line 124, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .perfil-escolta h2 {
  font-family: 'RobotoCBold';
}

/* line 128, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .sobre-mi {
  color: #ffffff;
}

/* line 130, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .sobre-mi .btn-lenguaje {
  margin-right: 10px;
}

/* line 132, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .sobre-mi .btn-lenguaje:last-child {
  margin-right: 0;
}

/* line 138, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .juegos-que-domino .card {
  background: none;
  border: none;
}

/* line 143, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .contratar-escolta {
  color: #ffffff;
}

/* line 145, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .contratar-escolta .form-check {
  margin: 10px 0;
}

/* line 147, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .contratar-escolta .form-check .form-check-label {
  width: calc(100% - 1.25rem);
}

/* line 152, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios {
  color: #ffffff;
}

/* line 154, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .user-review {
  margin-top: 5px;
}

/* line 155, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .user-review:first-of-type {
  margin-top: 20px;
}

/* line 161, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .pagination .page-item {
  width: 29px;
  height: 29px;
  text-align: center;
}

/* line 165, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .pagination .page-item.active {
  background: #ffffff;
  border-radius: 50%;
}

/* line 168, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .pagination .page-item.active .page-link {
  color: #000000;
}

/* line 173, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.escolta-seccion .resenas-usuarios .pagination .page-link {
  background: none;
  border: none;
  color: #ffffff;
}

/* line 183, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.interior-juego .escolta-container {
  padding-top: 40px;
}

/* line 186, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.interior-juego .cabecera-seccion--juego {
  width: 100%;
  height: auto;
}

/* line 192, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.interior-juego .resenas-usuarios > div,
.interior-juego .perfil-escolta > div {
  background: none;
}

/* line 198, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.interior-juego .resenas-usuarios .user-review:first-of-type {
  margin-top: 20px;
}

/* line 204, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar {
  background: rgba(62, 253, 217, 0.9);
  border-radius: 0;
  border: none;
}

/* line 208, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-header {
  border: none;
  padding: 0;
}

/* line 211, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-header .modal-title {
  font-family: 'RobotoCBold';
  color: #ffffff;
  position: absolute;
  left: calc(50% - 3rem);
  top: 6rem;
}

/* line 218, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-header .modal-contratar-img {
  width: 100%;
}

/* line 222, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-footer {
  border-radius: 0;
  border: none;
  padding-top: 0;
  flex-direction: column;
}

/* line 227, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-footer .btn-morado {
  color: #ffffff;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 0;
  margin-bottom: 0.5rem;
}

/* line 234, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
.modal-contratar .modal-footer .btn-underline-morado {
  color: #2A095F;
  text-decoration: underline;
  text-decoration-color: #2A095F;
  background: none;
  margin-left: 0;
}

@media (max-width: 576px) {
  /* line 248, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .card-deck {
    align-items: center;
  }
  /* line 250, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .card-deck .card {
    flex: 1 0 calc(100% - 30px);
    max-width: calc(100% - 30px);
  }
  /* line 255, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .mt-20-xs {
    margin-top: 20px;
  }
  /* line 259, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .escolta-seccion .escolta-container {
    padding-top: 30px;
  }
  /* line 262, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .escolta-seccion .cabecera-seccion {
    width: 200%;
    left: -20%;
  }
}

@media (max-width: 768px) {
  /* line 272, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .escolta-seccion .contratar-escolta .form-check .form-check-label {
    vertical-align: top;
  }
  /* line 278, /Users/fpardo/Documents/proyectos internos/escolta/sass/main.scss */
  .card-hover {
    opacity: 0;
    display: none;
  }
}

/*# sourceMappingURL=../css/main.map */