.alert-transparent {
    background: none;
    border: solid 1px #fff;
    color: #fff;
    border-radius: 0;
    font-size: 14px;
    i {
        font-size: 45px;
    }
}

.alert-success-personalizado {
    background: rgba($verde-principal, 0.6);
    border: solid 4px  $verde-borde;
    font-size: 23px;
    color: $morado;
    font-family: $robotoc-bold;
    border-radius: 0;

}