
$gris-principal: #333334;
$gris-footer-card: #181819;
$gris-opacidad: #232324;
$blanco:#ffffff;
$blanco-borde:#D8D8D8;
$negro:#000000;
$morado:#2A095F;
$azul-link:#0079F1;
$rojo-notificacion:#D0021B;
$rojo-input-invalido:#dc3545;
$verde-principal:#3EFDD9;



