header {
    height: 80px;
    background-color: $gris-principal;
    .navbar-dark {
        .navbar-brand {
            @media (max-width: 576px) {
                img {
                    display: none;
                }
                &:before {
                    background: url('../img/logo-small.svg') no-repeat;
                    width: 57px;
                    height: 31px;
                    content: '';
                    display: block;
                }
            }
        }
        .navbar-nav {
            .nav-link {
                color: $blanco;
            }
        }
    } 
    .perfil-gamer {
        .jugador-container {
            height: 80px;
            margin-top: -8px;
            .foto-perfil {
                border-radius: 50%;
                height: 52px;
                width: 52px;
                margin-right: 10px;
            }
            .nombre-gamer {
                color: $blanco;
                &:hover {
                    p {
                        color: $verde-principal;
                        transition: $animacion-hover;
                    }
                }
            }
            &.show{
                background: $blanco;
                .nombre-gamer {
                    p {
                        color: $gris-principal;
                    }
                }
                
                .dropdown-toggle {
                    &:after{
                        color: $gris-principal;
                    }
                }
            }
            .dropdown-toggle {
                 &:after {
                    color: $blanco;
                    border-top: .4em solid;
                    border-right: .3em solid #0000;
                    border-left: .3em solid #0000;
                    position: absolute;
                    right: 20px;
                    top: calc(50% - .3em);
                     @media (max-width: 992px) {
                        right: -10px ;
                    }
                 }
                 
            }
            .dropdown-menu {
                border-radius: 0;
                border: 0;
                margin-top: 0;
                width: 278px;
                .dropdown-item {
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:focus,
                    &:hover {
                        background: $morado;
                        color: $blanco;
                        img {
                            filter: brightness(0) invert(1);
                        }
                    }
                    img {
                        margin-right: 16px;
                    }
                    
                }
                hr {
                    margin: 8px 0;
                    border-color: #000;
                }
            }
            &:hover {
                a {
                    text-decoration: none;
                }
            }
               
        }
        .notificaciones-container {
            .dropdown-item {
                &:focus,
                &:hover {
                    background: $morado;
                    color: $blanco;
                }
            }
            &.show {
                position: relative;
                &:before {
                    content: '';
                    background: $blanco;
                    width: 65px;
                    height: 80px;
                    position: absolute;
                    top: -19px;
                }
                .notificaciones {
                    i {
                        color: $gris-principal!important;
                    }
                }
            }
            .notificaciones {
                margin-left: 20px;
                margin-right: 10px;
                position: relative;
                &:hover {
                    i {
                        color: $blanco;
                    }
                }
                i {
                    font-size: 30px;
                    color: $verde-principal;
                    transition: $animacion-hover;
                }
                &.notificaciones--activas {
                    &:before{
                        content: '2';
                        width: 14px;
                        height: 14px;
                        background: $rojo-notificacion;
                        border: solid 1px $blanco;
                        border-radius: 50%;
                        display: block;
                        position: absolute;
                        top: -1px;
                        right: -3px;
                        font-size: 9px;
                        color: $blanco;
                        text-align: center;
                    }
                }
                &.dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
            }
            .dropdown-menu {
                right: -9px;
                left: inherit;
                top: 153%;
                border: 0;
                border-radius: 0;
            }
        }
    }

    //menu mobile
    .navbar-toggler {
        border: none;
    }
    // Se sobreescribe el color de los link del menu para el menu desplegable
    .navbar-collapse {
        &.collapse {
            &.show {
                z-index: 9;
                margin-top:9px;
                margin-right: 12px;
                @media (max-width: 992px) {
                    margin-top: -8px;
                    margin-right: 0;
                }
                .navbar-nav {
                    width: 250px;
                    float: right;
                    background: $blanco;
                    padding: 0;
                    .nav-item {
                        padding: 3px 15px;
                        &.active {
                            background: $morado;
                            .nav-link{
                                color: $blanco;
                                i {
                                    color: $blanco;
                                }
                            }
                        }
                    }
                    .notificaciones {
                        margin-left: 20px;
                        margin-right: 10px;
                        position: relative;
                        float: right;
                        i {
                            font-size: 25px;
                            color: $gris-principal;
                        }
                        &.notificaciones--activas {
                            &:before{
                                content: '2';
                                width: 14px;
                                height: 14px;
                                background: $rojo-notificacion;
                                border: solid 1px $blanco;
                                border-radius: 50%;
                                display: block;
                                position: absolute;
                                top: -1px;
                                right: -3px;
                                font-size: 9px;
                                color: $blanco;
                                text-align: center;
                            }
                        }
                    }
                }
                .nav-link {
                    color: $gris-principal;
                }
            }
        }
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}