.modal-contratar {
    background: rgba($verde-principal, 0.9);
    border-radius: 0;
    border: none;
    .modal-header {
        border: none;
        padding: 0;
        .modal-title {
            font-family:'RobotoCBold';
            color: $blanco;
            position: absolute;
            left: calc(50% - 3rem);
            top: 6rem;
        }
        .modal-contratar-img {
            width: 100%;
        }
    }
    .modal-footer {
        border-radius: 0;
        border: none;
        padding-top: 0;
        flex-direction: column;
        .btn-morado {
            color: $blanco;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            margin-right: 0;
            margin-bottom: 0.5rem;
        }
        .btn-underline-morado {
            color: $morado;
            text-decoration: underline;
            text-decoration-color: $morado;
            background: none;
            margin-left: 0;
        }
    }
}

@media (max-width: 576px) {
    .modal-dialog {
    min-width: 100%;
    margin: 0;
    }

    .modal-dialog .modal-content {
        min-height: 100vh;
        width: 100vw;
    }
}

