.table-dark {
    background: none;
    th,
    td {
        font-size: 0.9rem;
    }
    thead {
        th {
            border-bottom-color: $blanco-borde;
            border-top: none;
        }
    }

    &.table-borderless {
        td {
            border: none;
        }
    }
}

.table-block {
    tr {
        td {

            min-height: 48px;
        }
    }
    
}
