@import 'colores';
@import 'fonts';
@import 'transiciones';
@import 'slider';
@import 'botones';
@import 'header';
@import 'footer';
@import 'forms';
@import 'card';
@import 'modals.scss';
@import 'layout';
@import 'datepicker';
@import 'helpers';
@import 'accordeon';

body {
    background: $gris-principal;
}

.escolta-seccion,
.que-hacemos {
    .cabecera-seccion {
        width: 100%;
        height: auto;
        position: absolute;
    }
    .escolta-container {
        padding-top: 100px;
    }
    .header-seccion {
        background: rgba($negro, 0.4);
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px;
        font-family: 'RobotoCBold';
    }
    .perfil-escolta,
    .sobre-mi,
    .resenas-usuarios,
    .contratar-escolta {
        & >div {
            background: rgba($negro, 0.3);
        }
    }
    .perfil-escolta {
        h2 {
          font-family: 'RobotoCBold';  
        }
    }
    .sobre-mi {
        color: $blanco;
        .btn-lenguaje {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .juegos-que-domino {
        .card {
            background: none;
            border:none;
            margin-bottom: 8px;
            p {
                font-size: 14px;
            }
        }
        .agregar-juego {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            .caja-border-dashed {
                min-height: 91px;
                width: 100%;
                display: flex;
                border: dashed 2px $verde-principal;
                transition: $animacion-hover;
                &:hover {
                    border-color:$blanco;
                    color:$blanco;
                    svg {
                        #Perfil-Usuario---2-filas-juegos {
                            fill: $blanco;
                            transition: $animacion-hover;
                        }
                    }
                }
            }
            .card-text {
                transition: $animacion-hover;
            }
            &:hover {
                .card-text {
                    color: $blanco;
                    text-decoration: none;
                }
            }
        }
    }
    .contratar-escolta {
        color: $blanco;
        .form-check {
            margin: 10px 0;
            .form-check-label {
             width: calc(100% - 1.25rem);
            }
        }
    }
    .resenas-usuarios {
        color: $blanco;
        .user-review {
            &:first-of-type {
                margin-top: 20px;
            }
            margin-top: 5px;
        }
        .pagination {
            .page-item {
                width: 29px;
                height: 29px;
                text-align: center;
                &.active {
                    background: $blanco;
                     border-radius: 50%;
                    .page-link {
                        color: $negro;
                    }
                }
            }
            .page-link {
                background: none;
                border: none;
                color: $blanco;
            }
        }
    }
}

.interior-juego {
    .escolta-container {
        padding-top: 40px;
    }
    .cabecera-seccion--juego {
        width: 100%;
        height: auto;
    }
    .resenas-usuarios,
    .perfil-escolta {
        & >div {
            background: none;
        }
    }
    .resenas-usuarios {
        .user-review {
            &:first-of-type{
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 576px) {
    .card-deck {
        align-items: center;
        .card {
            flex: 1 0 calc(100% - 30px);
            max-width: calc(100% - 30px);
        }
    }
    .mt-20-xs {
        margin-top: 20px;
    }
    .escolta-seccion {
        .escolta-container {
            padding-top: 30px;
        }
        .cabecera-seccion {
            width: 200%;
            left: -20%;
        }
    }
}
@media (max-width: 768px) {
   .escolta-seccion {
        .contratar-escolta {
            .form-check {
                .form-check-label {
                    vertical-align: top;
                }
            }
        }
   }
   .card-hover {
       opacity: 0;
       display: none;
   }
}


