@import 'colores';
@import 'transiciones';
@import 'slider';
@import 'botones';
@import 'fonts';
@import 'header';
@import 'footer';

body {
    background: $gris-principal;
}

.form-control,
select {
    border-radius: 0!important;
    border: none;
}
.border {
    border-width: 0 0 1px 0!important;
    &.border-white {
        border-bottom: solid 1px $blanco-borde !important;
    }
}

.card-deck {
    .card {
        border-radius: 0;
        border:none;
        background: #232324;
        overflow: hidden;
        flex: 1 0 calc(33.333% - 30px);
        max-width: calc(33.333% - 30px);
        margin-bottom: 15px;
        &:hover {
            .card-hover{
                top:0;
            } 
        }
        .card-body {
            padding-top: 0;
            margin-top: -20px;
            .card-title {
                color: $blanco;
                text-align: center;
                margin-bottom: 25px;
                font-family: 'RobotoCBold';
            }
            .info-card {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
                .card-text {
                    color: $blanco;
                }
                .fas {
                    font-size: 20px;
                    color: $blanco;
                    margin-right: 10px;
                    width: 25px;
                }
            }
        }
        .shadow-container{
            filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.5));
                .img-holder {
                -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 75%, 50% 86%, 42% 75%, 0% 75%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 58% 75%, 50% 86%, 42% 75%, 0% 75%);
                height: 220px;
                overflow: hidden;
            }
            .card-img-top {
                border-top-left-radius:0;
                border-top-right-radius:0;
            }
        }
        .card-footer {
            color: $blanco;
            background:$gris-footer-card;
        }
        .card-hover {
            position: absolute;
            height: 100%;
            width: 100%;
            top:100%;
            transition: top 0.6s;
            background: rgba($verde-principal, 0.9);
            a {
                text-decoration: none;
            }
        }
        
    }
}

.escolta-seccion {
    .cabecera-seccion {
        width: 100%;
        height: auto;
        position: absolute;
    }
    .escolta-container {
        padding-top: 90px;
    }
    .header-seccion {
        background: rgba($negro, 0.4);
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px;
        font-family: 'RobotoCBold';
    }
    .perfil-escolta,
    .sobre-mi,
    .resenas-usuarios,
    .contratar-escolta {
        & >div {
            background: rgba($negro, 0.3);
        }
    }
    .perfil-escolta {
        h2 {
          font-family: 'RobotoCBold';  
        }
    }
    .sobre-mi {
        color: $blanco;
        .btn-lenguaje {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .juegos-que-domino {
        .card {
            background: none;
            border:none;
        }
    }
    .contratar-escolta {
        color: $blanco;
        .form-check {
            margin: 10px 0;
            .form-check-label {
             width: calc(100% - 1.25rem);
            }
        }
    }
    .resenas-usuarios {
        color: $blanco;
        .user-review {
            &:first-of-type {
                margin-top: 20px;
            }
            margin-top: 5px;
        }
        .pagination {
            .page-item {
                width: 29px;
                height: 29px;
                text-align: center;
                &.active {
                    background: $blanco;
                     border-radius: 50%;
                    .page-link {
                        color: $negro;
                    }
                }
            }
            .page-link {
                background: none;
                border: none;
                color: $blanco;
            }
        }
    }
}

.interior-juego {
    .escolta-container {
        padding-top: 40px;
    }
    .cabecera-seccion--juego {
        width: 100%;
        height: auto;
    }
    .resenas-usuarios,
    .perfil-escolta {
        & >div {
            background: none;
        }
    }
    .resenas-usuarios {
        .user-review {
            &:first-of-type{
                margin-top: 20px;
            }
        }
    }
 
}

@media (max-width: 576px) {
    .card-deck {
        align-items: center;
        .card {
            flex: 1 0 calc(100% - 30px);
            max-width: calc(100% - 30px);
        }
    }
    .mt-20-xs {
        margin-top: 20px;
    }
    .escolta-seccion {
        .escolta-container {
            padding-top: 30px;
        }
        .cabecera-seccion {
            width: 200%;
            left: -20%;
        }
    }
}
@media (max-width: 768px) {
   .escolta-seccion {
        .contratar-escolta {
            .form-check {
                .form-check-label {
                    vertical-align: top;
                }
            }
        }
   }
}


